@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="cupcake"] .slick-prev::before,
[data-theme="cupcake"] .slick-next::before {
  color: blueviolet;
}

.slick-list img {
  border-radius: 14px;
}

.slick-track {
  display: flex;
  gap: 8px;
}
